/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@font-face {
	font-family: 'DottiesVanilla';
	src: url('/fonts/DottiesVanilla-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'DottiesVanilla';
	src: url('/fonts/DottiesVanilla-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'DottiesVanilla';
	src: url('/fonts/DottiesVanilla-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'DottiesVanilla';
	src: url('/fonts/DottiesVanilla-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'DottiesVanilla';
	src: url('/fonts/DottiesVanilla-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'DottiesVanilla';
	src: url('/fonts/DottiesVanilla-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'DottiesChocolate';
	src: url('/fonts/DottiesChocolate-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}




body {
	background-color: #E7EDF0;
	margin: auto;
	padding: 20px;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
a {
	color: #0A4964;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

/* The new hotness */


.name-link {
	font-family: 'DottiesChocolate';
	font-size: 1.5rem;
}

.big-name {
	color: #0A4964;
	display: block;
	font-size: 7rem;
	font-family: 'DottiesChocolate';
	font-weight: 900;
	line-height: 5.5rem;
	margin-left:-70px;
}

.pattern-container {
	background-color: #E7EDF0;
	opacity: 0.2;
	background-size: 10px 10px;
	background-image:  repeating-linear-gradient(to right, #CEDBE0, #CEDBE0 1px, #E7EDF0 1px, #E7EDF0);
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

ul.icons {
	text-align: right;
}

ul.icons li {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: right;
}