---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Intro from '../components/Intro.astro';
import Elsewhere from '../components/Elsewhere.astro';
import Contact from '../components/Contact.astro';
import Feed from '../components/Feed.astro';
import Thoughts from '../components/Thoughts.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C497P3MMYZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C497P3MMYZ');
</script>
	<body>
		<div class="pattern-container"></div>
			<div>
				<Header />
			</div>
			<main>
				<div class="container mx-auto">
					<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
						<div class="col-span-2">
							<Intro />
						</div>
						<div class="md:col-span-2 lg:col-span-3 col-auto w-full">
							<Elsewhere />
						</div>
					</div>
				</div>
				<div class="container mx-auto col-span-3">
					<Thoughts />
				</div>
				<div class="container mx-auto col-span-3">
					<Feed />
				</div>
				<div class="container mx-auto px-1">
					<div class="col-span-3">
						<Contact />
					</div>
				</div>
			</main>
			<Footer />
	</body>
</html>
