---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Intro from '../components/Intro.astro';
import Elsewhere from '../components/Elsewhere.astro';
import Contact from '../components/Contact.astro';
import Feed from '../components/Feed.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="pattern-container"></div>
			<div>
				<Header />
			</div>
			<main>
				<div class="container mx-auto px-1">
					<div class="grid grid-cols-3 gap-6">
						<div class="col-span-2 col-end-3">
							<Intro id="intro" />
						</div>
						<div class="col-span-3">
							<Elsewhere id="elsewhere" />
						</div>
					</div>
				</div>
				<div class="col-span-3">
					<Feed id="feed" />
				</div>
				<div class="container mx-auto px-1">
					<div class="col-span-3">
						<Contact id="contact" />
					</div>
				</div>
			</main>
			<Footer />
	</body>
</html>
