---
//imports
---
<div>
    <p>Some text telling people to contact me. It will likely be humorous, but... anything can happen! I should probably try to at least make it two lines, for a good balance. </p>
    <div class="grid grid-cols-2 gap-6">
        <div>Name input</div>
        <div>Email Address input</div>
        <div class="col-span-2">
            message text area
        </div>
    </div>
</div>