---
import StatusCard from "./StatusCard.astro";

// imports
---
<div class="grid grid-cols-3 gap-6 mb-20">
    <div class="justify-end" style="display: flex;">
        <ul class="icons">
            <li class="basis-10 m-3"><img src="" alt="Instagram"></li>
            <li class="basis-10 m-3"><img src="" alt="Twitter"></li>
            <li class="basis-10 m-3"><img src="" alt="Mastodon"></li>
            <li class="basis-10 m-3"><img src="" alt="Twitch"></li>
            <li class="basis-10 m-3"><img src="" alt="Spotify"></li>
            <li class="basis-10 m-3"><img src="" alt="Reddit"></li>
            <li class="basis-10 m-3"><img src="" alt="Github"></li>
            <li class="basis-10 m-3"><img src="" alt="Discord"></li>
        </ul>
    </div>
    <div class="col-span-2">
        <StatusCard />
        <StatusCard />
    </div>
</div>