---
import SpotifyCard from "./SpotifyCard.svelte";
import ElsewhereIcons from "./ElsewhereIcons.astro";
---

<div class="grid grid-cols-3 gap-6 mb-36">
    <ElsewhereIcons />
    <div class="col-span-2">
        <SpotifyCard  client:only="svelte" />
    </div>
</div>