---
import StatusCard from "./StatusCard.astro";
import ElsewhereIcons from "./ElsewhereIcons.astro";
---

<div class="grid grid-cols-3 gap-6 mb-36">
    <ElsewhereIcons />
    <div class="col-span-2">
        <StatusCard />
        <StatusCard />
    </div>
</div>