---
import { Icon } from 'astro-icon';
const items = {
    instagram: "https://www.instagram.com/projectjuliedotcom/",
    twitter: "https://twitter.com/Julia_JJ",
    mastodon: "https://mastodon.social/@juliewithaj",
    linkedin: "https://www.linkedin.com/in/johnstonjulie/",
    twitch: "https://www.twitch.tv/juliejohnstonco",
    spotify: "https://open.spotify.com/user/1266221615?si=c739707cb90e41ff",
    reddit: "https://www.reddit.com/user/Charming-Error-4565",
    github: "https://github.com/JuliaJJ",
    discord: "https://discordapp.com/users/849820804341956619",
};
---

<div class="icons text-right">
    {Object.entries(items).map(([icon, location]) => 
        <a href={location} class="inline-block ml-4 mb-2 w-7"><Icon name={icon} class="hover:fill-sky-900" /></a>
    )}
</div>