---

import LargeFeedCard from "./LargeFeedCard.astro";
import SmallFeedCard from "./SmallFeedCard.astro";
import { Icon } from 'astro-icon';

---
<div class="mb-4 lg:-mb-2">
    <h3 id="feed" class="text-2xl"><span class="text-2x1">the </span><span class="font-display text-5xl text-sky-900">feed</span></h3>
    <p class="text-gray-400 uppercase text-xs tracking-wider">all that's been recently consumed</p>
</div>
<div class="mb-12 lg:mb-40">
    <div class="grid lg:grid-cols-3 gap-6 items-end">
        <div class="col-span-2 lg:col-auto lg:order-last">
            <LargeFeedCard />
        </div>
        <div class="col-span-2">
            <div class="flex grid lg:grid-cols-2 gap-6 place-items-end items-stretch">
                <SmallFeedCard />
            </div>
        </div>
    </div>
    <div class="mt-8">
        <a href="/feedarchive/" rel="prefetch" class="text-gray-400 hover:text-sky-900 fill-gray-400 hover:fill-sky-900"><Icon name="circle-arrow-left-solid" class="w-4 inline-block" /> older</a>
    </div>
</div>

