---
import { getCollection } from "astro:content";
import LargeFeedCard from "./LargeFeedCard.astro";
import SmallFeedCard from "./SmallFeedCard.astro";
import { Icon } from 'astro-icon';

console.log("blah");

const allFeedPosts = getCollection('feed');
// // const latestFeedPost = allFeedPosts.reduce((a, b) => a.data.pubDate > b.data.pubDate ? a : b);
// console.log(allFeedPosts);

---

<!--
    TO DO:
    - display all but most recent feed post in small card template
    - one post per card
    - small card height is determined by height of largest card; pubDate should be fixed to bottom right corner
    - cards only display frontmatter; additional content is in tooltip/popover display by clicking/tapping on plus icon on each card
    - cards render in reverse chronological order, right to left
    - posts scroll off both edges as navigating, but on load most recent post card is at left browser window edge
    - need archive page to display all feed posts, feed posts by category (accessed from icon at upper right of each card) - use in page filters?
    - on mobile, post cards will stack with most recent at top and descending in reverse chronological order. 
    - post limit for display on landing page is eight; "more posts" link leads to archive page
 -->


<h3 id="feed" class="text-2xl mb-4">the <span class="font-display text-5xl text-sky-900">feed</span></h3>
<div class="mb-12 lg:mb-40">
    <div class="grid lg:grid-cols-3 gap-6 items-end">
        <div class="col-span-2 lg:col-auto lg:order-last">
            <LargeFeedCard />
        </div>
        <div class="col-span-2 content-end">
            <div class="grid lg:grid-cols-3 gap-6">
                <SmallFeedCard />
            </div>
        </div>
    </div>
    <div class="mt-4">
        <a href="#"><Icon name="circle-arrow-left-solid" class="w-4 inline-block hover:fill-sky-900" /> older</a>
    </div>
</div>

