---
import LargeFeedCard from "./LargeFeedCard.astro";
import SmallFeedCard from "./SmallFeedCard.astro";
import { Icon } from 'astro-icon';

const allFeedPosts = await Astro.glob('../content/feed/*.md');
---
<h3 id="feed" class="text-2xl -mb-8">the <span class="font-display text-5xl text-sky-900">feed</span></h3>
<div class="grid grid-cols-3 gap-6 items-end mb-40">
    <div class="col-span-2">
        <div class="grid grid-cols-3 gap-6 -ml-24">
            <div>
                <SmallFeedCard />
            </div>
            <div>
                <SmallFeedCard />
            </div>
            <div>
                <SmallFeedCard />
            </div>
        </div>
    </div>
    <div>
        <LargeFeedCard />
    </div>
    <div>
        <a href="#"><Icon name="circle-arrow-left-solid" class="w-4 inline-block hover:fill-sky-900" /> older</a>
    </div>
</div>

