---
import { Icon } from 'astro-icon/components';
---

<div class="md:text-right">
    <a href="/feedarchive-article/" rel="prefetch" class="inline-block mr-4 md:mr-0 md:ml-4 w-6"><Icon name="article" class="fill-gray-400 hover:fill-sky-900" alt="article" /></a>
    <a href="/feedarchive-film/" rel="prefetch" class="inline-block mr-4 md:mr-0 md:ml-4 w-6"><Icon name="film" class="fill-gray-400 hover:fill-sky-900" alt="film" /></a>
    <a href="/feedarchive-television/" rel="prefetch" class="inline-block mr-4 md:mr-0 md:ml-4 w-6"><Icon name="television" class="fill-gray-400 hover:fill-sky-900" alt="television" /></a>
    <a href="/feedarchive-book/" rel="prefetch" class="inline-block mr-4 md:mr-0 md:ml-4 w-6"><Icon name="book" class="fill-gray-400 hover:fill-sky-900" alt="book" /></a>
    <a href="/feedarchive-video/" rel="prefetch" class="inline-block mr-4 md:mr-0 md:ml-4 w-6"><Icon name="video" class="fill-gray-400 hover:fill-sky-900" alt="video" /></a>
    <a href="/feedarchive-music/" rel="prefetch" class="inline-block mr-4 md:mr-0 md:ml-4 w-6"><Icon name="music" class="fill-gray-400 hover:fill-sky-900" alt="music" /></a>
    <a href="/feedarchive-store/" rel="prefetch" class="inline-block mr-4 md:mr-0 md:ml-4 w-6"><Icon name="store" class="fill-gray-400 hover:fill-sky-900" alt="store" /></a>
</div>