---
// import
---
<div id="intro" class="grid lg:grid-cols-2 gap-6 mt-36">
    <div>
        <img src="https://placekitten.com/g/460/500" style="overflow: hidden;" alt="Julie Johnston"/>
    </div>
    <div>
        <h1 class="text-4xl pt-12">Hi, I'm <span class="lg:-ml-20 big-name text-sky-900">Julie</span></h1>
        <!-- <p class="pt-4">In this space, I'm going to write some pithy paragraph about how I'm endlessly entertaining and a joy to be around. To the people who know me, it will be comical puffery. But to the Internet writ large, I'll sound like a genius and a delight.</p> -->
        <p class="pt-4">I'm supposed to be good at this part. Lies.</p>
    </div>
</div>
