---
// import
---
<div id="intro" class="grid lg:grid-cols-2 gap-6 md:mt-36 mb-8 md:mb-24">
    <div>
        <img src="https://placekitten.com/g/460/600" style="overflow: hidden;" alt="Julie Johnston"/>
    </div>
    <div>
        <h1 class="text-4xl nt-6 md:mt-12">Hi, I'm <span class="lg:-ml-20 big-name text-sky-900">Julie</span></h1>
        <p class="pt-4">Imagine this is a pithy paragraph about how I'm endlessly entertaining and a joy to be around. To the people who know me, it will be comical puffery. But to the Internet writ large, I'll sound like a genius and a delight. I'm really just a designer, a cat lover, a cheese connoisseur, a mediocre video gamer at best, and perhaps an overspender on books and craft supplies. <i>Perhaps.</i></p>
    </div>
</div>
