---
import { Icon } from 'astro-icon';
---
<!-- HTML here -->
<!-- post card -->
<div class="flex bg-slate-100 shadow-lg rounded-lg mx-4 md:mx-auto max-w-md md:max-w-2xl relative">
   <a href="#" class="more-icon absolute w-6"><Icon name="circle-plus-solid" /></a>
   <a href="#" class="inline-block ml-4 mb-2 w-8 absolute top-5 right-5 w-6"><Icon name="book-solid" /></a>
   <div class="flex flex-col items-start p-5 w-full">
      <img class="w-16 h-16 object-cover mb-4" src="https://images.unsplash.com/photo-1542156822-6924d1a71ace?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="media">
      <div class="w-full">
         <div class="items-center justify-between">
            <h2 class="text-sm font-semibold text-gray-900 -mt-1">Media Title Goes Here</h2>      
         </div>
         <p class="text-sm text-gray-700">Subtitle</p>
         <small class="text-xs text-gray-700 float-right">22h ago</small>
      </div>
   </div>
</div>