---
// imports
---
<!-- HTML here -->
<!-- post card -->
<div class="flex bg-white shadow-lg rounded-lg mx-4 md:mx-auto max-w-md md:max-w-2xl mb-4">
    <div class="flex items-start px-4 py-6">
       <img class="w-12 h-12 object-cover mr-4 shadow" src="https://images.unsplash.com/photo-1542156822-6924d1a71ace?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="media">
       <div class="">
          <div class="flex items-center justify-between">
             <h2 class="text-lg font-bold text-gray-900 -mt-1">Media Title Goes Here</h2>      
          </div>
          <p class="text-gray-700">Subtitle</p>
          <small class="text-sm text-gray-700">22h ago</small>
       </div>
    </div>
 </div>