---

---
<div class="mb-4 mx-auto text-center">
    <h3 id="feed" class="text-2xl"><span class="text-2x1">I have some </span><br><span class="font-display text-5xl text-sky-900">thoughts</span></h3>
    <p class="text-gray-400 uppercase text-xs tracking-wider mt-2">and i love to share</p>
</div>
<div class="mb-14 lg:mb-40">
    <div class="grid lg:grid-cols-3 gap-6 items-end">
        <div class="col-span-3">
            <p>This is where a bloggy blog post will go. For all the thoughts. About what? Who knows. Personal essays. Work-related nonsense. Pictures of food. Everything is fair game!</p>
        </div>
    </div>
</div>

